
    h1{color: maroon;}
    img{size: 400px,400px;}

     #thirdDiv {
            size: 600px,500px;
            background-color: rgb(255, 182, 174);
            padding: 50px;
            border-color:rgb(116, 51, 5)
        }

    .divClass{}
        
    

    #spanId {
        font-size: 18px;
        margin: 50px;
            }